<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 

<body>
    <div class="main-container">
        <%- include('./partials/header.ejs') %> 
        <%- include('./partials/nav.ejs') %> 
        <dic class="content">
            <h3> This data is not available</h3>
        </dic>
        <%- include('./partials/footer.ejs') %> 
    </div>
</body>
</html>